{{ 'section-with-text.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }}{
    background: {{ section.settings.background }}
    ;
    padding-top: {{ section.settings.padding_top }}
    px;
    padding-bottom: {{ section.settings.padding_bottom }}
    px;
  }
  #shopify-section-{{ section.id }}.s-with-text__content {
    max-width;
    : {{ section.settings.content_width }}
    ;
    color: {{ section.settings.text_color}}
  }
  @media screen and (max-width: 600px) {
    padding-top: {{ section.settings.padding_top_mobile }}
    px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}
    px;
  }
</style>

<section class="s-with-text">
  <div class="s-with-text__content">
    <h2>{{ section.settings.title }}</h2>
    {{ section.settings.content }}
    <a href="{{ section.settings.btn_link }}">
      {{ section.settings.btn_name }}</a>
  </div>
</section>

{% schema %}
  {
    "name": "Section With Text",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 20,
        "max": 120,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 35
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 20,
        "max": 120,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 35
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 20
      }, {
        "type": "range",
        "id": "content_width",
        "min": 400,
        "max": 1300,
        "step": 10,
        "unit": "px",
        "label": "Content Width",
        "default": 600
      }, {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#FFFFFF"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFFFF"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title Section"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit perspiciatis iste officia.</p>"
      }, {
        "type": "text",
        "id": "btn_name",
        "label": "Button Name",
        "default": "Lern More"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Section With Text"
      }
    ]
  }
{% endschema %}